<div class="background">
    <div style="position:absolute; right:30px">
        <div class="form-group">
            <input class="bg-dark mt-3" type="text" placeholder="Search Movie" id="search">
        </div>
        <div id="matchList" style="margin-top: -15px;"></div>
    </div>
    <div style="margin-left: 100px; padding-top:20px;">
        <h1 style="color: white;">Movie Recommender App</h1>
        <button id="steps">Steps to Play</button>
    </div>
    <button id="queue-button">Your Queue</button>
    <div class="mt-4">
        <div id="queuechart" class="ml-5 pb-1" style="overflow:auto; white-space:nowrap; margin-right:35px"></div>
    </div>
    <div class="mt-4"></div>
    <div id="recChart"></div>
    <app-recommend></app-recommend>
    <div class="pb-3"></div>
</div>
